@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #006d46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 200px;
  position: relative;
  width: 100%;
}

.headerDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.titlesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerTitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  margin: 0;
  margin-top: 15px;
  line-height: 1;
}
.subheading {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  margin: 0;
  margin-top: -5px; /* Negative margin to pull subheading closer */
  margin-bottom: 3px;
}
.est {
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
}
.ducksLogo {
  height: 200px;
  margin: auto;
  margin-left: calc(50%);
  position: relative;
  left: calc(50% + 250px);
  transform: translateX(-50%);
}

.movingBar {
  width: 100%;
  overflow: hidden; /* prevents scrollbars */
  white-space: nowrap; /* prevent text wrapping */
  background-color: #5950c7;
  height: 35px;
  top: 1; /* Stick to the top of App-header */
  left: 0;
  position: sticky;
  width: 100%;
  z-index: 1000;
}

.movingText {
  display: inline-block; /* Display as inline-block for inline positioning */
  position: absolute; /* Position absolutely relative to .moving-bar */
  right: 0; /* Start from the right*/

  color: white;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}
.bodyDiv {
  background-color: #dfc21e8f;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 431px) {
  .headerDiv {
    grid-template-columns: 1fr;
  }
  .headerTitle {
    font-size: 40px;
  }
  .subheading,
  .est {
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
  }
  .ducksLogo {
    height: 100px;
    margin-left: 0;
    left: 50%;
  }
  .movingText {
    font-size: 18px;
  }
}
@media (min-width: 432px) and (max-width: 939px) {
  .headerDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .headerTitle {
    font-size: 50px;
  }
  .subheading,
  .est {
    font-size: 18px;
  }
  .ducksLogo {
    height: 150px;
    margin-left: calc(50% - 75px);
    left: 50%;
  }
  .movingText {
    font-size: 20px;
  }
}
