.App {
  text-align: center;
}

.App-header {
  background-color: #006d46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 200px;
  position: relative;
}

.headerDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ducksLogo {
  height: 200px;
  margin: auto;
  margin-left: calc(50% - 15%);
  position: relative;
  left: calc(50% + 250px);
  transform: translateX(-50%);
}

.movingBar {
  width: 100%;
  overflow: hidden; /* prevents scrollbars */
  white-space: nowrap; /* prevent text wrapping */
  background-color: #5950c7;
  height: 35px;
  top: 1; /* Stick to the top of App-header */
  left: 0;

  position: sticky;
  width: 100%;
  z-index: 1000;
}

.movingText {
  display: inline-block; /* Display as inline-block for inline positioning */
  position: absolute; /* Position absolutely relative to .moving-bar */
  right: 0; /* Start from the right*/
  animation: moveLeft 60s linear infinite; /* Apply animation for horizontal movement */

  color: white;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100); /* Start off screen to right*/
  }
  100% {
    transform: translateX(-750%); /* Move off screen to left*/
  }
}
