@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #006d46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 200px;
  position: relative;
  width: 100%;
}

.headerDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.titlesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerTitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  margin: 0;
  margin-top: 15px;
  line-height: 1;
  text-shadow: 2px 2px #5950c7;
}

.subheading {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  margin: 0;
  margin-top: -5px; /* Negative margin to pull subheading closer */
  margin-bottom: 3px;
  text-shadow: 1px 1px #5950c7;
}

.est {
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
  text-shadow: 1px 1px #5950c7;
}

.ducksLogo {
  height: 200px;
  margin: auto;
  margin-left: calc(50%);
  position: relative;
  left: calc(50% + 250px);
  transform: translateX(-50%);
}

.movingBar {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #5950c7;
  height: 35px;
  top: 1;
  left: 0;
  position: sticky;
  width: 100%;
  z-index: 1000;
}

.movingText {
  display: inline-block;
  position: absolute;
  right: 0;
  color: white;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}

.bodyDiv {
  background-color: #54945c;
  flex: 1;
  width: 100%;
}

.picsContainer {
  background-color: whitesmoke; /*THIS IS THE COLOUR IT FADES TO WHEN HOVERED OVER*/
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.teamPicWrapper {
  grid-column: 1 / -1; /* Span all columns */
  width: 100vw;
}
.columnPic {
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
  vertical-align: top;
  max-height: 570px;
}

.columnPic:hover,
.columnPic:active,
.teamPic:hover,
.teamPic:active,
.imageWrapper:hover .columnPic,
.imageWrapper:active .columnPic,
.imageWrapper:hover .teamPic,
.imageWrapper:active .teamPic {
  opacity: 0.3;
  background-color: white;
  filter: blur(2.5px);
  transition: all 0.3s ease;
}

.teamPic {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto; /* Ensures the wrapper takes the height of its content */
  text-align: center;
}

.overlayText {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5950c7;
  font-size: 2em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  max-width: 90%;
  width: auto;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 1.1; /* Ensures lines don't overlap */
  text-shadow: 1px 1px whitesmoke;
}

.imageWrapper:hover .overlayText {
  opacity: 1;
}

@media (max-width: 431px) {
  .headerDiv {
    grid-template-columns: 1fr;
  }
  .headerTitle {
    font-size: 40px;
  }
  .subheading,
  .est {
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
  }
  .ducksLogo {
    height: 100px;
    margin-left: 0;
    left: 50%;
  }
  .movingText {
    font-size: 18px;
  }
  .columnPic {
    width: 100%;
  }
  .picsContainer {
    grid-template-columns: 1fr;
  }
  .columnPic,
  .teamPic {
    width: 100%;
  }
}

@media (min-width: 432px) and (max-width: 1073px) {
  .headerDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .headerTitle {
    font-size: 50px;
  }
  .subheading,
  .est {
    font-size: 18px;
  }
  .ducksLogo {
    height: 150px;
    margin-left: calc(50% - 75px);
    left: 50%;
  }
  .movingText {
    font-size: 20px;
  }
  .columnPic {
    width: 50%;
  }
  .picsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .columnPic,
  .teamPic {
    width: 100%;
  }
}
